


body {
  margin: 0;
  display: flex;
  background: linear-gradient(#51829B, #EADFB4);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}



#app {
  max-width: 1280px;

}

